# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Dateien\Eigene Dateien\Studium\Betriebssysteme und Systemprogrammierung\Übung\Übungsblatt 6\busy_waiting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
