# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\konst\Documents\GitHub\Betriebssysteme_und_Systemprogrammierung\Konstantin\Aufgabe_02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
